PORT=5000
PUBLIC_BASE_URL=http://localhost:5000
CLIENT_URL=http://localhost:3000

MONGO_URI=

JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_API_KEY=

GOOGLE_REDIRECT_URI=http://localhost:5000/auth/google/callback
GOOGLE_CONNECT_REDIRECT_URI=http://localhost:5000/auth/google/connect/callback
